.sucssesfulOrder :global {
  .order-details {
    border-radius: 16px;
    border: 1px solid #f3f4f6;
    background: #fff;
    box-shadow:
      0 10px 15px -3px rgba(0, 0, 0, 0.1),
      0 4px 6px -4px rgba(0, 0, 0, 0.1);
    padding: 33px;
  }

  .whats-next {
    border-radius: 16px;
    border: 1px solid #f3f4f6;
    background: #f8fafc;
    padding: 25px;
  }
}
